.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 20px;
  right: 36px;
  top: 12px;
}

.bm-burger-bars {
  background: #473737; /* Color of the hamburger bars */
  height: 4px; /* Height of the bars */
  width: 100%;
  margin: 6px 0; /* Space between the bars */
  transition: all 0.3s ease; /* Smooth transition */
}

.bm-menu {
  overflow: scroll;
  background: white; /* Background color of the menu */
  padding: 4px 16px;
  padding-bottom: 27px 30px;
  /* padding: 2 1.5em 0; Padding for the menu */
  font-size: 1.15em; /* Font size for menu items */
}

.bm-item {
  display: inline-block; /* Display style for menu items */
  text-decoration: none; /* Remove underline */
  padding: 10px 5px; /* Space between items */
  color: black; /* Color of menu items */
  transition: color 0.2s; /* Transition for color change */
}

.bm-item:hover {
  color: rgba(37, 32, 32, 0.877);
}
