@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth; /* Smooth scrolling for in-page links */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active-scroll-spy {
  color: #3b68f9;
  border-bottom: solid 2px #3b68f9;
}

.custom-toast-container {
  min-width: 30% !important;
}

.custom-toast {
  width: 100%; /* Default full width */
}

@media (max-width: 768px) {
  .custom-toast {
    width: 90%; /* Smaller width on tablets */
    max-width: 400px; /* Ensure it doesn’t exceed 400px */
    margin: 0 auto; /* Center it horizontally */
  }
}

@media (max-width: 480px) {
  .custom-toast {
    width: 90%; /* Adjust for smaller screens */
  }
}
